@import '../../style/mixing.scss';

.products {

    .product-slider {
        padding      : 1rem 1rem 4rem;
        margin-bottom: 1rem;

        .productBox {
            padding         : 3rem 2rem;
            text-align      : center;
            outline         : var(--outline);
            outline-offset  : -1rem;
            border-radius   : .5rem;
            background-color: #fff;
            box-shadow      : var(--boxShadow);
            transition      : .2s linear;
            direction       : ltr;

            &:hover {
                @include outLineHover;
            }

            img {
                height: 20rem;
            }

            h3 {
                @include fontStyle(2.5rem, var(--black));
            }

            .price {
                @include fontStyle(2.2rem, var(--lightColor));
            }

            .stars i {
                padding: .5rem 0;
                @include fontStyle(1.8rem, var(--themeColor));
            }
        }
    }
}