@import '../../style/mixing.scss';

.reviews {

    .review-slider {
        padding: 1rem 1rem 5rem;

        .reviewBox {
            padding         : 3rem 2rem;
            text-align      : center;
            border-radius   : .5rem;
            outline-offset  : -1rem;
            outline         : var(--outline);
            background-color: var(--white);
            box-shadow      : var(--boxShadow);
            transition      : .2s linear;

            &:hover {
                @include outLineHover;
            }

            img {
                height       : 15rem;
                width        : 15rem;
                border-radius: 50%;
            }

            p {
                @include fontStyle(1.5rem, var(--lightColor));
                line-height: 1.8;
                padding    : 1rem 0;
            }

            h3 {
                @include fontStyle(2.5rem, var(--black));
                padding-bottom: 0.5rem;
            }

            .stars {
                @include fontStyle(1.6rem, var(--themeColor));
            }
        }
    }
}